{% extends 'base.html.twig' %}

{% block title %}Mon compte - CousBeldi{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="{{ path('admin') }}">Vous êtes un administrateur, accéder au backoffice ?</a></small><br/>
    {% endif %}
    Bienvenue {{ app.user.firstname }} dans votre compte.<br/>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_password') }}">
                    <img src="{{ asset('assets/img/password.png') }}" alt="Modifier mon mot de passe"><br/>
                    Modifier mon mot de passe
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_address') }}">
                    <img src="{{ asset('assets/img/map.png') }}" alt="Gérer mes adresses"><br/>
                    Gérer mes adresses
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_order') }}">
                    <img src="{{ asset('assets/img/purchase.png') }}" alt="Mes commandes"><br/>
                    Mes commandes
                </a>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
