{% extends 'base.html.twig' %}

{% block title %}Ma commande - CousBeldi{% endblock %}

{% block content %}
    <h1>Ma commande {{ order.reference }}</h1>
    <a href="{{ path('account_order') }}">Retour</a>
    <hr>
    <br/>
    <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y') }}<br/>
    <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small><br/>
    <strong>Livreur choisi :</strong> {{ order.carriername }}
    <hr>
    <strong>Détails:</strong>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            <tr>
                <td>{{ product.product }}</td>
                <td>x{{ product.quantity }}</td>
                <td>{{ (product.price / 100)|number_format(2, ',', '.') }} €</td>
                <td>{{ (product.total / 100)|number_format(2, ',', '.') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-end">
        <strong>Sous-total :</strong> {{ (order.getTotal / 100)|number_format(2, ',', '.') }} €<br/>
        {% if (order.getTotal / 100) > 60 %}
            <strong>Livraison offerte</strong><br/>
            <strong>Total : </strong> {{ ((order.getTotal) / 100)|number_format(2, ',', '.') }} €
        {% else %}
            <strong>Livraison :</strong> {{ (order.carrierprice / 100)|number_format(2, ',', '.') }} €<br/>
            <strong>Total : </strong> {{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }} €
        {% endif %}
    </div>

{% endblock %}