
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le magasin qui vend uniquement du couscous fait a base de produits locaux">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/fondLogo.png') }}"/>
    <title>{% block title %}CousBeldi{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/cousbeldi.css') }}">
    {% block javascript %} {% endblock %}

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md fixed-top" id="barre_principal">
        <div class="container-fluid">
            <a class="navbar-brand" id="barre" href="{{ path('home') }}">
                <img src="{{ asset('assets/img/fondLogo.png') }}" height="40px">
                <span>CousBeldi</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="barre" aria-current="page" href="{{ path('products') }}">Nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="barre" aria-current="page" href="{{ path('founder') }}">La fondatrice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="barre" aria-current="page" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                <div class="navbar-item-custom">
                    {% if app.user %}
                        <a href="{{ path('account') }}" id="barre" class="btn action-button register-button">Mon compte</a>
                        <a href="{{ path('app_logout') }}" id="barre">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="login" id="barre">Connexion</a>
                        <a class="btn action-button register-button" href="{{ path('register') }}" id="barre">Inscription</a></div>
                    {% endif %}
                </div>
                <a href="{{ path('cart') }}" style="text-decoration: none; color: #000000" >
                    <img src="{{ asset('assets/img/shopping-cart.png') }}" class="cart-icon" alt="Mon panier">
                    Mon panier
                </a>
            </div>
        </div>
    </nav>
</header>

<main role="main">

    {% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for key,header in headers %}
                <button type="button" id="home_image" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %} aria-current="true" aria-label="Slide 1"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for key,header in headers %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}');
                    background-size: cover;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 style="color: #A14000">{{ header.title }}</h1>
                        <p style="color: #A14000">{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-warning" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% endif %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

        {% block content %}
        {% endblock %}

    </div><!-- /.container -->


    <!-- FOOTER -->
    <div class="mon-footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Services</h3>
                        <ul>
                            <li>Livraison</li>
                            <li>Emporter</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Nous contacter</h3>
                        <ul>
                            <li>Mail : contact.cousbeldi69@gmail.com</li>
                            <li>Tél : 06 51 10 90 28</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Méthode de paiement</h3>
                        <ul>
                            <li>Espèce</li>
                            <li>CB - VISA</li>
                            <li>CB - MasterCard</li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Chez CousBeldi</h3>
                        <p>Derrière chaque belle chose se trouve une histoire et à travers ces quelques lignes, j'aimerais vous raconter la mienne afin de rendre ce que l'on m'a donnée</p>
                    </div>
                </div>
                <div class="row item social d-flex align-items-center" id="id_social_media">
                    <a href="https://www.facebook.com/cousbeldi"><i class="icon ion-social-facebook"></i></a>
                    <a href="https://www.instagram.com/cousbeldi/"><i class="icon ion-social-instagram"></i></a>
                    <a href="https://twitter.com/cousbeldi/"><img src="{{ asset('assets/img/twitter.png') }}" style="height: 20px;width: 20px"></a>
                </div>
                <h4 class="copyright">CousBeldi © 2021</h4>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <!---------------------------- FIN FOOTER -------------------------->
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>

</body>
{% block script %}{% endblock %}
</html>
